/* Made & Compiled by Marcel "Luzkan" Jerzyk 
   [04.05.2019]          Initial Update v1.01 
   `Black, Dark & Night - the only way to go` */

:root {
    /* Side Icons */
    --MainColor: #4a82f3;
    /* Logo Color */
    --MainAccentColor: #4a82f3;
    /* Progress Bar and Scrubber */
    --MainProgressColor: #2793E6
    /* Inter alia: Community Posts */
    --TextBoxBackgroundColor: #19191A;
    /* Icons and Text*/
    --IconsTextColor: #cbcbcb;
    /* YT Title, Like Buttons, Navbar Buttons & Some More */
    --ActionButtonColor: #7b7b84;
    /* Searchbox Curve */
    --standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
}


/* Background Pure Black */
ytd-page-manager > *.ytd-page-manager {
    background: #000;
}

#container.ytd-masthead {
    background: #000;
}

#guide-content.ytd-app {
    background: #000;
}

#columns.ytd-watch-flexy {
    background: #000;
}

/* ************************************* */

#channel-header.ytd-c4-tabbed-header-renderer {
    background-color: #000;
}

#tabs-inner-container.ytd-c4-tabbed-header-renderer {
    background-color: #111111;
}



/* New Scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    background: #ddd;
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
}
::-webkit-scrollbar-thumb:not(:active):hover {
    background: #afafaf;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover:active {
    background: #bbb;
}
[dark]::-webkit-scrollbar,
[dark]::-webkit-scrollbar-corner,
[dark] ::-webkit-scrollbar,
[dark] ::-webkit-scrollbar-corner {
    background: #040406 !important;
}
[dark]::-webkit-scrollbar-button,
[dark] ::-webkit-scrollbar-button {
    display: none;
}
[dark]::-webkit-scrollbar-thumb,
[dark] ::-webkit-scrollbar-thumb {
    background: #333;
}
[dark]::-webkit-scrollbar-thumb:not(:active):hover,
[dark] ::-webkit-scrollbar-thumb:not(:active):hover {
    background: #383838;
}
[dark]::-webkit-scrollbar-thumb:active,
[dark]::-webkit-scrollbar-thumb:hover:active,
[dark] ::-webkit-scrollbar-thumb:active,
[dark] ::-webkit-scrollbar-thumb:hover:active {
    background: #5c5c5c;
}

/* New Alternative Menu Bar on Left on MainPage */
ytd-mini-guide-entry-renderer {
    background-color: #000 !important;

}
ytd-mini-guide-renderer{
    background-color: #000 !important;
}

/* Subbutton after Subscribed */
paper-button.ytd-subscribe-button-renderer[subscribed] .deemphasize.yt-formatted-string,
paper-button.ytd-subscribe-button-renderer[subscribed] {
    color: var(--yt-subscribe-button-text-color);
}
paper-button.ytd-subscribe-button-renderer[subscribed] {
    background-color: var(--SubscribeButtonAfterSub);
}
ytd-subscribe-button-renderer[button-style="COMPACT_GRAY"] paper-button.ytd-subscribe-button-renderer {
    background-color: var(--SubscribeButtonAfterSub);
    color: var(--yt-subscribe-button-text-color);
}

/* Vars */
:not([style-scope]):not(.style-scope) {
--ytd-masthead-height: 64px; /* default: 56px */
}

/* Page Progress */
yt-page-navigation-progress, #progress.yt-page-navigation-progress {
    height: 4px;
}
yt-page-navigation-progress {
    background-color: transparent;
}

/* Masterhead (YouTube upper navbar) */
#container.ytd-masthead {
    height: 64px;
}
ytd-searchbox.ytd-masthead {
    justify-content: center !important;
}
#search-form.ytd-searchbox {
    height: 38px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow .2s var(--standard-curve);
}
[has-focus] #search-form.ytd-searchbox {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#container.ytd-searchbox,
#search-icon-legacy.ytd-searchbox {
    background: var(--yt-searchbox-background) !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
ytd-searchbox input {
    margin-left: 8px;
}

/* Guide */
#header.ytd-app {
    height: 64px;
}

/* Toggle  */
.toggle-bar.paper-toggle-button {
    opacity: 0.3 !important;
}

paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button {
    opacity: 0.7 !important;
}


/* Edits */

ytd-post-renderer[surface_="backstage-surface-type-home"] {
	background-color: #0d0d0d;
}

#content-attachment.ytd-post-renderer ytd-video-renderer.ytd-post-renderer {
	background-color: #0d0d0d;
}
 
ytd-multi-page-menu-renderer {
	background: #1a1a1a;
}
ytd-simple-menu-header-renderer {
	background-color: #1a1a1a;
}
ytd-active-account-header-renderer {
	background-color: #1a1a1a;
}
paper-listbox {
	background: #000;
}
ytd-masthead.shell.dark, ytd-masthead.shell.theater-all-widths {
	background: #000;
}
ytd-masthead.dark .masthead-skeleton-icon {
	background-color: hsl(0, 0%, 0%);
}

#tabs-inner-container.ytd-c4-tabbed-header-renderer {
    background-color: #000;
}
ytd-post-renderer[surface_="backstage-surface-type-home"] {
	background-color: #000;
}
#content-attachment.ytd-post-renderer ytd-video-renderer.ytd-post-renderer {
	background-color: #0d0d0d;
}
ytd-multi-page-menu-renderer {
	background: #000;
}
ytd-simple-menu-header-renderer {
	background-color: #000;
}
ytd-active-account-header-renderer {
	background-color: #000;
}
body {
  background-color: #000 !important;
}
html {background-color: black !important}
html:not(.style-scope)[dark], :not(.style-scope)[dark] {
	--yt-main-app-background: #000 !important;
	--yt-main-app-background-tmp: #000 !important;
}
html[dark] #guide-skeleton {
	background-color: hsl(0, 0%, 0%);
}
html[dark] #home-page-skeleton .skeleton-bg-color {
	background-color: rgb(28, 28, 28);
}
.masthead-skeleton-icon {
	background-color: rgb(0, 0, 0);
}
paper-dialog {
	background: #000;
	color: #000;
}
#bar.ytd-copy-link-renderer {
	background-color: #000;
}
ytd-add-to-playlist-renderer {
	background: #000;
}
yt-next-continuation.ytd-watch-next-secondary-results-renderer {
	--paper-button_-_background-color: #1d1d1d;
	--paper-button_-_color: hsla(0, 0%, 80.3%, .8);
}
#search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox {
	color: #cdcccb;
	opacity: 0.6;
}
#container.ytd-searchbox {
	color: #fff !important;
}
#search-input.ytd-contact-search-renderer {
	color: #D0D0D0;
}
.header.ytd-playlist-panel-renderer {
	background-color: #1a1a1a;
}
.playlist-items.ytd-playlist-panel-renderer {
	background-color: #0d0d0d;
}
ytd-ticket-shelf-renderer {
	background-color: #000;
}
paper-toast {
	background-color: #1d1d1d;
}
ytd-rich-metadata-renderer {
	background-color: #000;
}
.sbpqs_a {
	color: #A04EEE;
}
ytd-searchbox[mode="legacy"] #container.ytd-searchbox input.ytd-searchbox, ytd-searchbox[mode="legacy-centered"] #container.ytd-searchbox input.ytd-searchbox {
	color: #fff !important;
}
    ytd-add-to-playlist-renderer:not([dialog]) {
	background: #000;
}
    #contents.yt-live-chat-app > .yt-live-chat-app {
	background-color: #0d0d0d !important;
}
    yt-live-chat-header-renderer {
	background-color: #1a1a1a;
    }
    #card.yt-live-chat-viewer-engagement-message-renderer {
	background-color: #1d1d1d;
}
    #show-hide-button.ytd-live-chat-frame > ytd-toggle-button-renderer.ytd-live-chat-frame {
	background-color: #1a1a1a;
}
    yt-next-continuation.ytd-watch-next-secondary-results-renderer {
	--paper-button_-_background-color: #1a1a1a !important;
}
    #tooltip.paper-tooltip {
    background-color: #1a1a1a;
}
yt-confirm-dialog-renderer[dialog][dialog][dialog] {
	background: #1a1a1a;
}
    #content-attachment.ytd-post-renderer ytd-video-renderer.ytd-post-renderer {
	background-color: #000;
}
    #card.ytd-miniplayer {
	background-color: #000;
}
paper-button.ytd-subscribe-button-renderer .deemphasize.yt-formatted-string {
	color: var(--yt-subscribe-button-text-color) !important;
}
    paper-button.ytd-subscribe-button-renderer[subscribed] {
	color: #a9a9a9 !important;
}
paper-button.ytd-subscribe-button-renderer[subscribed] .deemphasize.yt-formatted-string, paper-button.ytd-subscribe-button-renderer[subscribed] {
	color: #a9a9a9 !important;
}
#scroller.yt-confirm-dialog-renderer {
	color: var(--yt-primary-text-color);
}
html[dark] {
	background-color: #000 !important;
}
.iri-always-visible:not(.iri-full-browser) #movie_player:not(.ytp-fullscreen), .iri-always-playing #movie_player:not(.ytp-fullscreen):not(.unstarted-mode) {
	background-color: #000 !important;
	border: 0px !important;
}


/*-- Progress Bar Colors --*/

/* Scrubber Button */
.html5-scrubber-button:hover, .ytp-scrubber-button:hover, .ytp-swatch-background-color, .ytp-swatch-background-color-secondary {
   background: var(--MainProgressColor) !important;
}

/* Progress Bar */
.html5-play-progress, .ytp-play-progress {
   background: var(--MainColor) !important; 
}
.ytp-volume-slider-track, .ytp-volume-slider-handle:before {
   background: var(--MainColor) !important;
   z-index: -1;
}
.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-settings-button.ytp-3d-badge::after {
   background-color: var(--MainProgressColor) !important;
}
.ytp-swatch-color {
   color: var(--MainProgressColor) !important;
}
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
   background: var(--MainProgressColor) !important;
}
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge {
   fill: var(--MainProgressColor) !important;
}
.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg, .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg {
   fill: var(--MainProgressColor) !important;
}
.resume-playback-progress-bar {
   background: var(--MainProgressColor) !important;
}
.ytp-chrome-controls .ytp-button[aria-pressed]::after {
   background-color: var(--MainProgressColor) !important;
}
.yt-uix-checkbox-on-off input-extras2-disabled[type="checkbox"]:checked + label {
   background-color: var(--MainProgressColor) !important;
}
.video-extras-sparkbar-likes-extras2-disabled {
   background-color: var(--MainProgressColor) !important;
}

/* Text Boxes ex: "Now Live" */
.badge-style-type-live-now.ytd-badge-supported-renderer {
  padding:3px 3px 2px 3px;
  font-size:10px;
  border-color: var(--MainColor);
}


/* Icons (ex: Notifcations, Main Page Colors Buttons) */
paper-button.ytd-subscribe-button-renderer, ytd-button-renderer.style-primary[is-paper-button], ytd-button-renderer.style-primary[disabled][is-paper-button], paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button, #watch-card-header.ytd-generic-watch-card, #img-endpoint.ytd-watch-card-collage-renderer #overlay-button.ytd-watch-card-collage-renderer, #container.ytd-alert-renderer, .yt-live-chat-text-input-field-renderer-0 #focused.yt-live-chat-text-input-field-renderer, .yt-live-chat-item-list-renderer-1 paper-icon-button.yt-live-chat-item-list-renderer, paper-icon-button.yt-live-chat-item-list-renderer, #focused.yt-live-chat-text-input-field-renderer, yt-button-renderer.style-primary[is-paper-button], ytd-subscribe-button-renderer:not([button-style]) paper-button:not([subscribed]), ytd-button-renderer.style-destructive[is-paper-button], #notification-count.ytd-notification-topbar-button-renderer, yt-icon-button.yt-live-chat-item-list-renderer {
    background-color: var(--MainAccentColor);
}  

/* Font */
 .badge-style-type-live-now.ytd-badge-supported-renderer span, yt-formatted-string.ytd-comments-header-renderer, paper-button, .more-button.ytd-comment-renderer, .less-button.ytd-comment-renderer, yt-icon, .yt-icon-container.yt-icon, .guide-entry-count.ytd-guide-entry-renderer, a.yt-simple-endpoint.yt-formatted-string, .content.ytd-metadata-row-renderer, paper-menu, #toggle.ytd-grid-renderer, .tab-content.paper-tab, #channel-title.ytd-c4-tabbed-header-renderer, #subscriber-count.ytd-c4-tabbed-header-renderer, #title.ytd-vertical-channel-section-renderer, #video-title.ytd-compact-playlist-renderer, #video-title.ytd-playlist-panel-video-renderer, .video-title.ytd-watch-card-video-list-renderer, #video-title.ytd-playlist-renderer, #video-title.ytd-compact-radio-renderer, #unplayableText.ytd-playlist-panel-video-renderer, .subheadline.ytd-channel-about-metadata-renderer, #title.ytd-sub-feed-selector-renderer, yt-formatted-string.ytd-sub-feed-option-renderer, #index.ytd-playlist-video-renderer, #title.ytd-modal-with-title-and-button-renderer, #share-label.yt-sharing-renderer, #close-panel-icon.ytd-sharing-embed-renderer:hover, [button-renderer].ytd-menu-renderer:hover yt-icon.ytd-menu-renderer, #button.ytd-menu-renderer:hover yt-icon.ytd-menu-renderer, #filter-group-name.ytd-search-filter-group-renderer, ytd-search-filter-renderer.selected yt-formatted-string.ytd-search-filter-renderer, #header.ytd-add-to-playlist-renderer, #creator-sidebar .creator-sidebar-section a:hover, #primary-content.yt-live-chat-header-renderer, .yt-live-chat-message-input-renderer-0 #author-name.yt-live-chat-message-input-renderer, .yt-button-renderer-0.style-dark[is-paper-button], #author-name.yt-live-chat-message-input-renderer, yt-formatted-string.yt-emoji-picker-category-renderer, .ytd-video-meta-block, #name.ytd-author-comment-badge-renderer, #title.ytd-movie-upsell-renderer, #title.yt-report-form-modal-renderer, a.yt-simple-endpoint.yt-formatted-string:visited, .title.ytd-playlist-panel-renderer, #related-header.ytd-generic-watch-card, #publisher-container > yt-formatted-string > a, #title.ytd-rich-list-header-renderer, .content.ytd-metadata-row-header-renderer, #to-field-header.ytd-contact-search-renderer, #text.ytd-sender-id-section-renderer, yt-formatted-string.ytd-start-at-renderer, #share-url.ytd-copy-link-renderer, #title.ytd-share-target-renderer, a.yt-simple-endpoint.yt-formatted-string:only-of-type:visited, .question.ytd-generic-faq-question-renderer, .title.ytd-purchase-item-renderer, #text.yt-bubble-hint-renderer, #video-title.ytd-grid-movie-renderer, ytd-grid-playlist-renderer #video-title.ytd-grid-playlist-renderer a, #author-name.yt-live-chat-author-chip, #title.ytd-rich-metadata-renderer, #card-title.ytd-search-refinement-card-renderer, .more-button.ytd-comment-history-entry-renderer, .less-button.ytd-comment-history-entry-renderer, #author-text.yt-simple-endpoint.ytd-backstage-post-renderer, ytd-video-renderer[is-backstage-video] #video-title.ytd-video-renderer, .more-button.ytd-backstage-post-renderer, .less-button.ytd-backstage-post-renderer, #title.ytd-item-section-header-renderer, yt-live-chat-text-message-renderer[author-is-owner] #message.yt-live-chat-text-message-renderer, #title.ytd-add-to-playlist-renderer, #info.ytd-movie-offer-module-renderer, .title.ytd-comment-video-thumbnail-header-renderer, .input-content.label-is-floating.paper-input-container .label-and-input-container.paper-input-container > [slot="label"], paper-input-char-counter {
  color: #aaa;
}

a.yt-simple-endpoint.yt-formatted-string:hover, #video-title.ytd-video-renderer, #title.ytd-shelf-renderer, .title.ytd-video-primary-info-renderer, #author-text.yt-simple-endpoint.ytd-comment-renderer span, #upnext.ytd-compact-autoplay-renderer, ytd-toggle-button-renderer.style-default-active[is-icon-button] yt-icon, #video-title.ytd-compact-video-renderer, #video-title.yt-simple-endpoint.ytd-grid-video-renderer, #video-title.ytd-grid-radio-renderer, #video-title.ytd-grid-playlist-renderer, #channel-title.ytd-channel-renderer span.ytd-channel-renderer, #title.ytd-grid-channel-renderer, #video-title.ytd-newspaper-hero-video-renderer, #video-title.ytd-newspaper-mini-video-renderer, a.ytd-search-history-query-renderer, h3.ytd-playlist-video-renderer, #guide-section-title.ytd-guide-section-renderer, ytd-button-renderer #button.ytd-button-renderer, #embed-label.ytd-sharing-embed-renderer, #video-title.ytd-radio-renderer, #account-name.ytd-active-account-header-renderer, h2.ytd-simple-menu-header-renderer, #creator-sidebar h3, #creator-sidebar h3 a, #author-name, #video-title.ytd-movie-renderer, #name.ytd-enrolled-contact-renderer, #name.ytd-suggested-contact-renderer, #conversation-name.ytd-conversation-switcher-item-renderer, ytd-conversation-switcher-item-renderer.unread #conversation-name.ytd-conversation-switcher-item-renderer, ytd-conversation-switcher-item-renderer.unread #last-post.ytd-conversation-switcher-item-renderer, #header.yt-music-pass-small-feature-info-renderer, .header.ytd-faq-section-renderer, ytd-text-header-renderer[header-style='text-header-renderer-style-bold'], #title.ytd-title-and-button-list-header-renderer, #watch-card-title.ytd-watch-card-rich-header-renderer, ytd-video-renderer[is-post-compact-video] #video-title.ytd-video-renderer, #header.ytd-movie-offer-module-renderer, #title.ytd-movie-offer-module-renderer {
  color:#bbb;
}

paper-tab.ytd-c4-tabbed-header-renderer:hover .tab-content, .ytp-time-current, .ytp-time-duration, .separator, #owner-name > a, #byline > a, #guide-section-title > a, #header-description > h3 > yt-formatted-string > a, #title > a, .title.style-scope.ytd-watch-card-compact-video-renderer > a, #view-all-endpoint.yt-simple-endpoint.ytd-vertical-watch-card-list-renderer, ytd-text-header-renderer[header-style='text-header-renderer-style-bold'], yt-formatted-string[contenteditable] a.yt-simple-endpoint.yt-formatted-string {
  color:#bbb!important;
}

paper-button.ytd-subscribe-button-renderer .ytd-subscribe-button-renderer, ytd-button-renderer.style-primary[is-paper-button] a paper-button #text, .ytp-title-text *:not([style-scope]):not(.style-scope), #title.ytd-share-panel-title-v15-renderer {
  color:#eee;
}

.ytp-ce-video-title, #buttons > yt-button-renderer #text {
  color:#fff!important;	
}

h3.ytd-grid-video-renderer a, ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer, #description a, #confirm-button a paper-button yt-formatted-string, #link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer, #email.ytd-channel-about-metadata-renderer, #content-text a:hover, .yt-endpoint-1, .yt-endpoint-3, .yt-live-chat-text-message-renderer [is=yt-endpoint], #content > yt-formatted-string > a, .group_info_rows_redesign a, .page_photo.page_action_menu_groups .page_actions_item.group_send_msg_status_block .group_send_msg_status_block_title, .tt_w.tickets_side_tt.title .tt_text,
.tt_w.tickets_side_tt.text .tt_text, #message.yt-live-chat-text-message-renderer a.yt-live-chat-text-message-renderer {
  color: var(--MainColor);
}

#byline.ytd-video-meta-block, #content-text a {
  color: var(--MainAccentColor);
}

#subtitle.ytd-shelf-renderer, #result-count.ytd-search-sub-menu-renderer, span.yt-view-count-renderer, .date.ytd-video-secondary-info-renderer, .content.ytd-video-secondary-info-renderer, #icon-label.yt-dropdown-menu, #content-text.ytd-comment-renderer, *:not([style-scope]):not(.style-scope), #button.ytd-menu-renderer yt-icon.ytd-menu-renderer, yt-icon.ytd-badge-supported-renderer, .title.ytd-guide-entry-renderer, ytd-searchbox[mode=legacy] #container.ytd-searchbox input.ytd-searchbox, ytd-toggle-button-renderer.force-icon-button a.ytd-toggle-button-renderer, ytd-button-renderer.force-icon-button a.ytd-button-renderer, #scroller.yt-confirm-dialog-renderer, #title.yt-confirm-dialog-renderer, yt-button-renderer #button.yt-button-renderer, .input-content.paper-input-container  textarea, #text:hover, yt-formatted-string.ytd-menu-service-item-renderer, .item.yt-dropdown-menu, .title.ytd-mini-channel-renderer, ytd-subscribe-button-renderer[button-style="COMPACT_GRAY"] paper-button.ytd-subscribe-button-renderer yt-formatted-string, #label-text.yt-dropdown-menu, .input-content.paper-input-container input, .index-message.ytd-playlist-panel-renderer, #byline.ytd-playlist-panel-video-renderer, #subscribers, #description.ytd-channel-renderer, #button.ytd-toggle-button-renderer yt-icon.ytd-toggle-button-renderer + yt-formatted-string.ytd-toggle-button-renderer, #video-title.ytd-child-video-renderer, #length.ytd-child-video-renderer, #thumbnail-attribution.ytd-grid-channel-renderer, #description.ytd-channel-about-metadata-renderer, #right-column.ytd-channel-about-metadata-renderer > yt-formatted-string.ytd-channel-about-metadata-renderer, .content.ytd-comment-history-entry-renderer, #message.ytd-message-renderer, #stats.ytd-playlist-sidebar-primary-info-renderer, yt-formatted-string.content.ytd-channel-video-player-renderer, yt-formatted-string.ytd-guide-signin-promo-renderer, #content.ytd-modal-with-title-and-button-renderer, yt-formatted-string.ytd-menu-navigation-item-renderer, yt-formatted-string.ytd-sharing-embed-renderer, #close-panel-icon.ytd-sharing-embed-renderer, #privacy-mode-info.ytd-sharing-embed-renderer, #legal-info.ytd-sharing-embed-renderer, ytd-search-filter-renderer yt-formatted-string.ytd-search-filter-renderer, ytd-search-filter-renderer.selected #dismiss-x.ytd-search-filter-renderer, yt-icon.ytd-playlist-add-to-option-renderer, #label.ytd-playlist-add-to-option-renderer, #label.ytd-compact-link-renderer, .content-text.ytd-metadata-with-image-row-renderer, yt-formatted-string.yt-sharing-renderer, #label.ytd-toggle-theme-compact-link-renderer, #email.ytd-active-account-header-renderer, #text.ytd-notification-multi-action-renderer, ytd-video-meta-block:not(.grid):not(.compact).byline-separated #separator.ytd-video-meta-block, [meta-block].ytd-video-meta-block:not(.grid):not(.compact).byline-separated #separator.ytd-video-meta-block, #search-icon-legacy.ytd-searchbox yt-icon.ytd-searchbox, .message.ytd-notification-renderer, #creator-sidebar .creator-sidebar-section a, .description.ytd-toggle-item-renderer, .yt-live-chat-text-message-renderer-1 #message.yt-live-chat-text-message-renderer, .yt-live-chat-text-input-field-renderer-0 #label.yt-live-chat-text-input-field-renderer, .yt-live-chat-icon-toggle-button-renderer-0 paper-icon-button.yt-live-chat-icon-toggle-button-renderer, .yt-live-chat-message-input-renderer-0 #count.yt-live-chat-message-input-renderer, .yt-live-chat-header-renderer-0 #overflow.yt-live-chat-header-renderer, .ytd-menu-service-item-renderer-0 yt-formatted-string.ytd-menu-service-item-renderer, .ytd-menu-navigation-item-renderer-0 yt-formatted-string.ytd-menu-navigation-item-renderer, .yt-live-chat-participant-list-renderer-0 #back-button.yt-live-chat-participant-list-renderer, .yt-live-chat-participant-list-renderer-0, .yt-live-chat-participant-renderer-0 #author-name.yt-live-chat-partichpant-renderer, .yt-live-chat-renderer-0, #more.ytd-vertical-list-renderer yt-formatted-string.ytd-vertical-list-renderer, #all.ytd-vertical-list-renderer yt-formatted-string.ytd-vertical-list-renderer, #metadata.ytd-channel-renderer, #corrected.yt-search-query-correction, #corrected-link.yt-search-query-correction, #original.yt-search-query-correction, #original-link.yt-search-query-correction, #original.yt-search-query-correction, #message.yt-live-chat-text-message-renderer, #input.yt-live-chat-text-input-field-renderer, .yt-live-chat-renderer, #close-button.yt-live-chat-message-buy-flow-renderer, #info.yt-live-chat-message-buy-flow-renderer, yt-formatted-string.ytd-expanded-shelf-contents-renderer, body:not([dark]) #search, #middle-metadata-section.ytd-movie-upsell-renderer, .metadata-value.ytd-movie-upsell-renderer, yt-formatted-string.yt-options-renderer, .publisher.ytd-playlist-panel-renderer, #vote-count-left.ytd-comment-action-buttons-renderer, #vote-count-middle.ytd-comment-action-buttons-renderer, #responses.ytd-feedback-elicitation-single-question-renderer yt-formatted-string.ytd-feedback-elicitation-single-question-renderer, #question.ytd-feedback-elicitation-single-question-renderer, .related-entity-title.ytd-generic-watch-card, #container > yt-formatted-string > a, #title.ytd-channel-featured-content-renderer, #title.ytd-compact-channel-recommendation-card-renderer, #title.ytd-recent-shares-section-renderer, #title.ytd-contact-section-renderer, #start-at-timestamp.ytd-start-at-renderer, textarea.iron-autogrow-textarea, #last-post.ytd-conversation-switcher-item-renderer, #timestamp.ytd-conversation-switcher-item-renderer, #message.yt-live-chat-viewer-engagement-message-renderer, #subtitle.ytd-compact-link-renderer, #subtitle.yt-dropdown-menu,.duration.ytd-watch-card-compact-video-renderer, ytd-background-promo-renderer[renderer-style="full-height"] .promo-title.ytd-background-promo-renderer, #description.yt-music-pass-small-feature-info-renderer, .text.ytd-simple-text-section-renderer, .answer.ytd-generic-faq-question-renderer, .price-text.ytd-purchase-item-renderer, .page_photo.page_action_menu_groups .page_actions_item, span.help_table_question_act.help_table_question_act_ok, span.help_table_question_act.help_table_question_act_do, #view-more.ytd-grid-playlist-renderer a, #description-text.ytd-video-renderer, ytd-commentbox:not([is-backstage-post]) yt-formatted-string#contenteditable-textarea.ytd-commentbox, .badge-style-type-medium-grey.ytd-badge-supported-renderer, #content-text.ytd-backstage-post-renderer, yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:hover, ytd-post-renderer[surface_="backstage-surface-type-home"] #home-content-text.ytd-post-renderer, yt-formatted-string.ytd-notification-text-renderer {
  color: var(--IconsTextColor);
}

.yt-live-chat-text-message-renderer-0 #message.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-0 #menu.yt-live-chat-text-message-renderer, body:not([dark]) #search, body:not([yt-color]):not([dark]) #search, a.yt-simple-endpoint.yt-formatted-string:only-of-type:visited, #title-annotation > a, #byline, #contenteditable-textarea.ytd-commentbox[aria-label].ytd-commentbox:empty:before, #placeholder.ytd-commentbox {
  color: var(--IconsTextColor)!important;
}

.more-button.ytd-video-secondary-info-renderer, .less-button.ytd-video-secondary-info-renderer, #simplebox-placeholder.ytd-comment-simplebox-renderer, #published-time-text > a, #byline.ytd-video-meta-block, #metadata-line.ytd-video-meta-block span.ytd-video-meta-block, ytd-author-comment-badge-renderer a yt-formatted-string, #vote-count.ytd-comment-action-buttons-renderer, yt-icon, .yt-icon-container.yt-icon, #metadata-line.ytd-grid-video-renderer span.ytd-grid-video-renderer, paper-button[subscribed].ytd-subscribe-button-renderer .deemphasize.yt-formatted-string, #placeholder.ytd-commentbox, .badge-style-type-collection.ytd-badge-supported-renderer, .input-content.paper-input-container label, ytd-toggle-button-renderer #button.ytd-toggle-button-renderer, .summary.ytd-comment-history-entry-renderer, .timestamp.ytd-comment-history-entry-renderer, .metadata.ytd-notification-renderer, .yt-live-chat-text-message-renderer-0 #deleted-state.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-0 #show-original.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-0[is-deleted] #message.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-0 #timestamp.yt-live-chat-text-message-renderer, ytd-search-filter-renderer.disabled yt-formatted-string.ytd-search-filter-renderer, #count.yt-live-chat-message-input-renderer, #label.yt-live-chat-text-input-field-renderer, .dim.yt-live-chat-message-buy-flow-renderer, .yt-emoji-picker-category-button-renderer iron-icon, #deleted-state.yt-live-chat-text-message-renderer, #show-original.yt-live-chat-text-message-renderer, yt-live-chat-text-message-renderer[is-deleted] #message.yt-live-chat-text-message-renderer, #top-metadata-section.ytd-movie-upsell-renderer, .metadata-name.ytd-movie-upsell-renderer, #post.ytd-feed-entry-renderer, .badge-style-type-simple.ytd-badge-supported-renderer span, yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
  color: var(--ActionButtonColor);	
}
#contenteditable-textarea.ytd-commentbox[aria-label].ytd-commentbox:empty:before, #placeholder.ytd-commentbox {
  color: var(--ActionButtonColor)!important;	
}
#logo-icon > svg > g > g:nth-child(1) > path, #logo-icon-container > svg > g > g:nth-child(1) > path {
  fill: var(--MainAccentColor);
}

#guide-icon.ytd-masthead, .yt-icon-container.yt-icon, #label-icon.yt-dropdown-menu, #guide-icon.ytd-app, .yt-live-chat-header-renderer iron-icon, iron-icon {
  fill: var(--IconsTextColor);
}

.yt-live-chat-icon-toggle-button-renderer iron-icon, .yt-live-chat-text-message-renderer iron-icon {
  fill: var(--ActionButtonColor);
}

#youtube-paths > path:nth-child(1),
#youtube-paths > path:nth-child(2),
#youtube-paths > path:nth-child(3),
#youtube-paths > path:nth-child(4),
#youtube-paths > path:nth-child(5),
#youtube-paths > path:nth-child(6), 
#youtube-paths > path:nth-child(7) {
  fill: var(--ActionButtonColor)!important;
}

#overlay-icon > svg > g > path {
  fill: #eee;	
}

 #icon.ytd-author-comment-badge-renderer {
   fill: #aaa!important;	
 }

/* Background */
#progress.ytd-thumbnail-overlay-resume-playback-renderer, paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button, #like-bar.ytd-sentiment-bar-renderer, #progress.yt-page-navigation-progress, ytd-sentiment-bar-renderer[activated_] #like-bar.ytd-sentiment-bar-renderer {
  background-color: var(--MainColor);
}

/* Badges and etc., could be MainColor/MainAccentColor or default, depending on preference */

/*
ytd-author-comment-badge-renderer, yt-report-form-modal-renderer[dialog][dialog][dialog], .ytp-ce-expanding-overlay-background, .yt-ui-ellipsis, paper-listbox#items, paper-listbox#menu, ytd-masthead.shell, #container.ytd-searchbox, yt-page-navigation-progress, .arrow.ytd-horizontal-card-list-renderer, [arrow].ytd-horizontal-card-list-renderer, paper-dialog, .scroll-button.ytd-third-party-share-target-section-renderer, .scroll-button.ytd-connection-section-renderer, #bar.ytd-copy-link-renderer, ytd-searchbox[mode=legacy-centered] #container.ytd-searchbox, .tickets_reply_row.clear_fix, .tickets_header, .tickets_reply_rows, .page_block_header.clear_fix, .tickets_suggest, .tickets_suggests_all_results, ytd-rich-metadata-renderer, ytd-post-renderer[surface_="backstage-surface-type-home"],.badge-style-type-simple.ytd-badge-supported-renderer, #contents.ytd-movie-offer-module-renderer   {
  background-color: var(none);
}
*/
